// -----------------------------------------------------------------------------
// This file contains all styles related to the device info component.
// -----------------------------------------------------------------------------

.specifications {
  margin-bottom: 25px;

  .badge img {
    width: 15px;
    margin: 4px 8px;
  }

  .table {
    font-family: 'ubuntu-mono';
    width: 100%;
    margin-bottom: 0;
    color: var(--text-primary);

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--table-odd);
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: var(--table-even);
  }

  .table td,
  .table th {
    padding: 1px 80px 1px 15px;
    border-top: 5px solid var(--background-body);
    white-space: nowrap;

    @media (max-width: 991.98px) {
      padding: 1px 15px;
    }
  }
}
