// -----------------------------------------------------------------------------
// This file contains all styles related to the installer banner component.
// -----------------------------------------------------------------------------

.installer {
  margin-bottom: 0px;
  margin-top: 40px;

  h2 {
    margin-bottom: 25px;
  }

  .btns {
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 20px;

    @media (max-width: 1299.98px) {
      column-gap: 10px;
    }

    @media (max-width: 1199.98px) {
      grid-template-columns: 1fr;
      row-gap: 15px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}
