<template>
  <!-- Installer -->
  <div class="banner-grey port installer">
    <h1 class="mb-2">How to install</h1>
    <p>
      You can install Ubuntu Touch on this device using the UBports Installer on
      your computer. Select the appropriate package for your computer: Plug in
      your device and follow the on-screen instructions. The Installer will take
      it from there.
    </p>

    <div class="btns mt-5">
      <!-- Ubuntu -->
      <a class="btn btn-download" href="/installer/deb">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/ubuntu.svg"
          alt="ubuntu-img"
        />
        <div>
          <p class="bold">Ubuntu</p>
          <p class="small">deb (64)</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Mac -->
      <a class="btn btn-download" href="/installer/dmg">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/mac.svg"
          alt="mac-img"
        />
        <div>
          <p class="bold">Mac</p>
          <p class="small">dmg x64</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Windows -->
      <a class="btn btn-download" href="/installer/exe">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/win.svg"
          alt="win-img"
        />
        <div>
          <p class="bold">Windows</p>
          <p class="small">exe x86</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Linux Snap -->
      <a class="btn btn-download" href="/installer/snap">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/linux.svg"
          alt="linux-img"
        />
        <div>
          <p class="bold">Linux</p>
          <p class="small">snap</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
      <!-- Linux AppImage -->
      <a class="btn btn-download" href="/installer/appimage">
        <g-image
          class="dark-invert-40 system-icon"
          src="~/assets/img/installer/appimage.svg"
          alt="appimage-img"
        />
        <div>
          <p class="bold">AppImage</p>
          <p class="small">x86</p>
        </div>
        <g-image
          class="dark-invert-40 download-icon"
          src="~/assets/img/installer/download.svg"
          alt="download-icon"
        />
      </a>
    </div>
    <div class="col-12 mb-5">
      <h4 class="h5 mt-5">Failed to install?</h4>
      <p>
        <a
          href="https://docs.ubports.com/en/latest/userguide/install.html#troubleshooting"
          target="_blank"
        >
          Try our <span class="underline">troubleshooting</span></a
        >
        on Ubports docs or
        <a
          href="https://github.com/ubports/ubports-installer/releases"
          target="_blank"
        >
          try <span class="underline">older versions</span></a
        >
        of the installer if the problem keeps occurring.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "InstallerBanner"
};
</script>
